* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --pwhite: #FAF9F6;
    --pmaroon: #650000;
    --plyellow: #F6E2A5;
    --pbblack: #5B2B12;
    --bgcolor: #E5E0DF;
    --pyellow: #EEBA2B;
    --pbrown: #764B36;
    --pgray:#7c7573;
}

html {
    scroll-behavior: smooth;
}

#charCount {
    color: #7c7573;
    transition: color 0.3s; /* Smooth transition between colors */
}


#skiptranslate {
    visibility: none;
}

body {
    font-family: 'Montserrat';
    color:  var(--pbblack);
    background-color: var(--bgcolor);
}
/*-----Home-----*/
#Home {

    width: 100%;
    height: 100vh;
    background:  linear-gradient(var(--pwhite), var(--bgcolor));
    background-size: cover;
    background-position: center;
    background-image: url('assets/bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color change */
}

/* Horizontal Line Below Navigation */
.nav::after {
    content: '';
    display: block;
    width: 90%; /* Adjust width to 80-90% */
    height: 1px;
    background-color: currentColor; /* Color can change based on the page */
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 5%; /* Center the line */
}

/* White text for the homepage */
.nav.white {
    color: var(--pwhite);  /* White text on home page */
}

/* Black text for other pages */
.nav.black {
    color: var(--pbblack); /* Black text on other pages */
}

/* Navbar with white text */
.nav.white a {
    color: inherit;  /* Inherit white color from the .nav.white class */
    text-decoration: none;  /* No underline */
}

/* Navbar with black text */
.nav.black a {
    color: inherit;  /* Inherit black color from the .nav.black class */
    text-decoration: none;  /* No underline */
}

/*Section Style*/
section .home-content{
    padding-top: 30vh;
}

.active-section {
    display: block;
}

.hidden {
    display: none;
}

/*Navigation Bar*/

.logo-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-image {
    width: 40px; 
    height: auto;
}

.logo {
    position: absolute;
    left: 30px;
    width: 300px;
    font-size: x-large;
}

@font-face {
    font-family: 'Roxborough CF';
    src: url('fonts/Roxborough CF.ttf') format('woff2');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('fonts/SortsMillGoudy-Regular.ttf') format('woff2');
    font-weight: normal; 
    font-style: normal; 
}

a:label.logo {
    float: left;
    width: 30px;
    font-family: 'Roxborough CF';
    color: currentColor;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

.header {
    font-family: 'Roxborough CF';
}


.nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin-right: 20px;
    display: flex;
}

.nav ul li {
    display:inline-block;
    line-height: 80px;
    margin: 0 10px;
    position: relative;
}

.nav ul li a {
    color: currentColor;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
}

.nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: currentColor;
    position: absolute;
    left: 0;
    bottom: 30px;
    transition: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}

.checkbtn {
    font-size: 30px;
    color: currentColor;
    position: fixed;
    right: 30px;
    cursor: pointer;
    display: none;
}

.exitbtn {
    font-size: 30px;
    color: currentColor;
    position: fixed;
    right: 30px;
    cursor: pointer;
    display: none;
    z-index: 110;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }

    .nav ul li a {
        font-size: 20px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        z-index: 100;
    }

    .nav.white ul{
        background-color: rgba(69, 67, 66, 0.80);
    }
    
    /* Black text for other pages */
    .nav.black ul{
        background-color: rgba( 229, 224, 223, 0.80);
    }

    .nav ul {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: -100%;
        padding-top: 80px;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.5s ease;
        display: block;
    }
    
    .nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    .nav ul li a {
        font-size: 20px;
        padding: 7px 13px;
    }

    .nav ul li::after {
        background: none;
    }
    
    .exitbtn:hover {
        padding: 5px 10px;
    }

    #check:checked ~ .checkbtn {
        display: none;
    }

    #check:checked ~ .exitbtn {
        display: block;
    }

    #check:checked ~ ul{
        left: 0%;
    }

    #exit:checked ~ ul {
        left: -100%;
    }

    #exit:checked ~ .exitbtn {
        display: none;
    }

    #exit:not(:checked) ~ .checkbtn {
        display: block;
    }

    #check:checked ~ .home-content {
        display: hidden;
    }

    #check:not(:checked) ~ .home-content {
        display: block;
    }
}

/* Home Content */
.home-content {
    width: 100%;
    position: relative;
    top: -10%;
    text-align: center;
}

.home-content h1 {
    font-family: 'Roxborough CF';
    font-size: 50px;
    font-weight: 700px;
    color: var(--pwhite);
    text-shadow: 8px 9px 12.3px rgba(8, 9, 13.3, 0.8);
}
.hero{
    width:65%;
}

.home-content p {
    font-family: 'Montserrat';
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: lighter;
    color: var(--pwhite);
}

@media (max-width: 858px) {
    #check:checked ~ .home-content {
        display: none;
    }
}

.logo {
    width: 45px;
    height: auto;
    margin-left: 80px;
}

.figchecklogo-container {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    margin-right: 125px;
    font-size: 24px;
}

.button {
    width: 295px;
    padding: 27px 0px;
    text-align: center;
    margin: 20px 20px;
    margin-top: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    outline: none;
    background: var(--pwhite);
    color: var(--pmaroon);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.5s, color 0.5s;
}

.button span {
    background: var(--pmaroon);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover {
    color: var(--pwhite);
    background: var(--pmaroon);
}

@media (max-width: 700px) {
    .home-content h1{
        font-size: 30px;
    }

    .home-content p {
        font-size: 17px;
    }

    #Home .button {
        width: 200px;
        padding: 30px 0px;
        text-align: center;
        margin: 20px 20px;
        margin-top: 50px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 20px;
        background-color: var(--pwhite);
        color: var(--pmaroon);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: background 0.5s, color 0.5s;  
    }

    #Home .button span {
        background: var(--pmaroon);
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: width 0.5s;
    }
    
    #Home .button:hover span {
        width: 100%;
    }
    
    #Home .button:hover {
        color: var(--pwhite);
        background: var(--pmaroon);
    }
}

/*-----About-----*/
#About {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor);
    background-size: cover;
    background-position: center;
}

.about-content {
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
    top: 25vh;
    left: 0%;
    padding-top: 20px;
    background-color: var(--pwhite); 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.about-text h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.about-text p {
    text-align: justify;
    justify-content: center;
    padding: 20px 20px;
}


/*-----Grammar Checker-----*/
#GrammarChecker {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15vh;
}

.pantasa-content {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    top: 25vh;
}

#GrammarChecker > p {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

#GrammarChecker > p a{
    color: blue;
}

.pantasa-container {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#result {
    flex: 2;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-left: none;
    border-bottom: none;
    padding-right: 40px;
    padding-left: 20px;
    margin-top: 10px;

}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading p {
    font-size: 16px;
}

.spinner {
    border: 8px solid var(--bgcolor);
    border-top: 8px solid var(--pyellow);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    background-color: var(--plyellow);
    cursor: pointer;
}


#grammarTextarea {
    width: 100%;
    height: 70vh;
    padding: 10px;
    font-size: 28px;
    border-spacing: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 20px;
    font-family: 'Sorts Mill Goudy';
}


#result {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#result p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

#highlightedText {
    flex: 1;
    margin-right: 10px;
}

.highlight {
    color: var(--pyellow);
    font-weight: bold;
    cursor: pointer;
}

#error {
    color: var(--pyellow);
    cursor: pointer;
}

#suggestionsList {
    list-style-type: none;
    padding-left: 0;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Sorts Mill Goudy';
}

#suggestionsList li {
    cursor: pointer;
    color: var(--pbrown);
}

#suggestionsList li:hover {
    text-decoration: underline;
}

#correctedText {
    flex: 1;
    padding-left: 20px;
    font-style: italic;
    color: var(--pgray);
    font-family: 'Sorts Mill Goudy';
}


/* Media queries */
@media (max-width: 1920px) {
    .pantasa-container {
        width: 1200px;
    }
    .about-content {
        padding-bottom: 60px;
    }
}

@media (max-width: 1500px) {
    .pantasa-container {
        width: 800px;
    }

    .info-container h1 {
        font-size: 1.5rem;
        margin-top: 14px;
    }

    .info-container p {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .home-content h1{
        font-size: 40px;
    }
    
}

@media (max-width: 1000px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 50px;
    }
    #grammarTextarea {
        font-size: 0.875rem;
    }

    .pantasa-container {
        width: 600px;
    }
    .home-content h1{
        font-size: 35px;
    }
}

@media (max-width: 952px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 35px;
    }
}


@media (max-width: 858px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 30px;
    }

    .home-content h1{
        font-size: 30px;
    }

    #grammarTextarea::data-placeholder {
        opacity: 25;
    }

    #GrammarChecker > p {
        font-size: 1rem;
    }

    #grammarTextarea {
        color: inherit;
        height: 20vh;
        margin-bottom: 0;
    }

    .pantasa-content {
        flex-direction: column;
    }

    .textArea-container {
        order: 1; 
    }

    .full-side-container {
        order: 2;
        flex-direction: column;
    }

    .pantasa-container {
        width: auto;
    }

    .loading p {
        font-size: 1rem;
    }

    #correctionsContent, #suggestionsContent { 
        font-size: 1rem;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    }

    #GrammarChecker {
        flex: 1; /* Allow the GrammarChecker section to expand and push the footer down */
    }

    .Footer {
        position: relative; /* Reset position to relative */
        margin-top: auto; /* Push the footer to the bottom */
    }
}

@media (max-width: 750px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 30px;
    }

    .about-content {
        font-size: 0.625rem; 
    }

    #GrammarChecker > p {
        font-size: 0.625rem;
    }

    .pantasa-content p {
        font-size: 1.25rem;
    }

    .loading p {
        font-size: 1rem;
    }

    #correctionsContent, #suggestionsContent { 
        font-size: 1rem;
    }
    .home-content h1{
        font-size: 25px;
    }

}

@media (max-width: 600px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 30px;
    }
    .loading p {
        font-size: 1.25rem;
    }

    #correctionsContent, #suggestionsContent { 
        font-size: 1.25rem;
    }
    .home-content h1{
        font-size: 20px;
    }
    .hero{
        width:90%;
    }

}

@media (max-width: 480px) {
    .logo-container{
        margin-left: 20px;
    }

    .logo{
        margin-left: 30px;
    }
    .loading p {
        font-size: 1rem;
    }

    #correctionsContent, #suggestionsContent { 
        font-size: 1rem;
    }
}

/*Footer*/
.Footer {
    width: 100%;
    height: 10%;
    background: var(--pmaroon);
    color: var(--pwhite);
    padding: 10px;
    text-align: center;
    z-index: 100;
}

.footer-content {
    font-size: 10px;
    margin: 10px;
}

.split-panel {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}


.left-panel, .right-panel {
    flex: 1;
    background-color: var(--pwhite);
    padding: 20px;
    box-sizing: border-box;
}

.left-panel {
    border-right: 1px solid #b6b5b5; /* Vertical line separator */
}

.textArea-container {
    display: flex;
    flex-direction: column;
}

#suggestionsContent {
    flex-grow: 0; /* Suggestions should not grow, but maintain space */
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: auto;
}

.right-panel #result {
    padding: 10px;
}

#grammarTextarea:empty:before {
    content: attr(data-placeholder);
    color: var(--pgray);
    pointer-events: none;
    display: block;
}


